/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:100,200,400,500,700,900|Playfair+Display:100,400,700,900');


// Override theme settings (see ../template/settings.scss)
$backgroundColor: hsl(0, 0%, 96%);

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 42px;
$mainFont: 'Gothic A1', Helvetica, sans-serif;
$headingFont: 'Gothic A1', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$headingFontWeight: 800;
$linkColor: #f95658;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------